<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @question, remote: true do |f| %>
      <%= f.select :subject_id, options_from_collection_for_select(@subjects, "id", "title") %>

      <%= f.hidden_field :status, value: Settings.question_status_suggested %>

      <%= f.label :content, t("question_content") %>
      <%= f.text_field :content, class: "form-control" %>

      <div id="answers_list">
        <%= f.fields_for :answers do |builder| %>
          <%= render "answer_fields", f: builder %>
        <% end %>
      </div>

      <p><%= link_to_add_fields t("add_answer"), f, :answers %></p>

      <%= f.submit t("submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
