<% provide :title, t("questions") %>
<h1><%= t "questions" %></h1>

<%= search_form_for @q, remote: true do |f| %>
  <%= f.label :content_cont, t("find") %>
  <%= f.search_field :content_cont %>
  <%= f.submit %>
<% end %>

  <h2 class="pull-right">
    <button type="button" class="btn btn-default" id="suggest-question-button">
      <%= t "suggest_question" %>
    </button>
  </h2>

<div class="row" >
  <% if @questions.any? %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t"questions" %></th>
          <th><%= t"answer" %></th>
          <th><%= t"created_at" %></th>
        </tr>
      </thead>
      <tbody id="show-questions">
        <%= render @questions %>
      </tbody>
      <%= will_paginate @questions %>
    </table>
  <% end %>
</div>

<%= render "suggest_question_modal" %>
