<div class="answer_fields">
  <div class="form-inline">
    <%= f.label :content, t("answer") %>
    <%= f.text_field :content, class: "form-control" %>
    <%= f.label :correct, class: "checkbox inline" do %>
      <%= f.check_box :correct %>
      <span><%= t "is_correct" %></span>
    <% end %>
  </div>
  <%= link_to_remove_fields t("remove"), f %>
</div>
