<li>
  <div class="form-inline">
    <div class="form-group">
      <h3> <%= subject.title %> </h3>
    </div>
    <% if user_signed_in? %>
      <div class="form-group">
        <%= form_for [subject, Exam.new] do |f| %>
          <%= f.hidden_field :subject_id, value: subject.id %>
          <%= f.hidden_field :status, value: Settings.exam_state_running %>
          <%= f.hidden_field :time, value: subject.duration*Settings.minute_to_second %>
          <%= f.submit t("start"), class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</li>
