<% provide :title, t("exam") %>

<% if @exam.status == Settings.exam_state_running %>
  <h2 class="pull-right" >
    <%= t "time" %>
    <div id="timer"><%= @exam.time %></div>
  </h2>
  <h2 class="pull-left">
    <button type="button" class="btn btn-default" id="exam-save">
      <%= t "save" %>
    </button>
    <button type="button" class="btn btn-default" id="exam-resume">
      <%= t "resume" %>
    </button>
  </h2>
<% end %>

<h1><%= @exam.subject.title %></h1>

<%= form_for [@exam.subject, @exam], remote: true do |f| %>
  <%= f.hidden_field :time %>
  <%= f.hidden_field :status, value: Settings.exam_state_finished %>

  <div class="exam-box" >
    <%= f.fields_for :results do |result_builder| %>
      <% result = result_builder.object %>
      <% question = result.question %>

      <div class="question-item">
        <%= result_builder.hidden_field :id %>
        <p><strong><%= question.content %></strong></p>
        <% question.answers.each do |answer| %>
          <p>
            <% if @exam.status == Settings.exam_state_finished %>
              <%= result_builder.radio_button :answer_id, answer.id,
                disabled: :true %>
            <% else %>
              <%= result_builder.radio_button :answer_id, answer.id %>
            <% end %>
            <%= answer.content %>
          </p>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
  <%= f.submit t("finish"), id: "exam-submit", class: "btn btn-default" %>
<% end %>

<%= render "result_modal" %>
